<!DOCTYPE html>
<html>
<head>
  <title>Contact Us</title>
</head>
<body>
<h1>Contact Us</h1>
<p>
  If you have any concerns about anything, please let us know!
</p>
  <form action="/contact" method="POST">
    <label>
      Name:
    </label>
    <input type="text" name="name"><br>
    <label>
      Email:
    </label>
    <input type="Email" name="email"><br>
    <label>
      Message:
    </label><br>
    <textarea name="message" placeholder="Enter Message here..."></textarea><br>
    <button type="submit">Send</button>
  </form>
</body>
</html>